// Шрифты
$first-font: "Montserrat";
$second-font: "Ubuntu";
$third-font: "Helvetica";

// Цвета
  $first-color: #FED230;
// Градиенты
  $main-grad: linear-gradient(-45deg, #fed230 0%, #fe8730 100%);
// Размеры

