.button {
  font-family: $third-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3.92045px;
  padding: 8px 10px;
  display: block;
  color: #FFFFFF;
  transition: 0.3s all;

  & p {
    background-color: #000000;
    border-radius: 3.92045px;
    padding: 22px;
    padding-right: 40px;
    text-align: center;
    display: block;
    position: relative;

    &::before,
    &::after {
      @include pseudo;
      height: 22px;
      background-color: #000000;
      border-radius: 4px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      width: 79.83%;
      box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.3);
    }

    &::after {
      width: 55.075%;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.27);
    }

    & span {
      display: block;
      position: relative;
    }

    & span::before {
      @include pseudo;
      background-image: url("/img/arrow.svg");
      width: 18px;
      height: 15px;
      position: absolute;
      top: 50%;
      right: -18px;
      transform: translateY(-50%);
    }
  }

  &:hover  {
    font-size: 18px;
    line-height: 23px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.6);

    & svg {
      fill: rgba(255, 255, 255, 0.6);
    }
  }

  &:active > p > span::before {
    opacity: 0.6;
    transition: 0.3s all;
  }

  &--else {
    border-color: transparent;
    position: relative;
    background-clip: padding-box;
    background-color: #ffffff;

    &::before {
      @include pseudo;
      position: absolute;
      border-radius: 3.92045px;
      top: 0;
      margin: -1px;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-image: linear-gradient(-90deg, #6E07DD 0%, #FEB80C 100%);
    }

    & > p {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(267.74deg, #6E07DD 0%, #FEB80C 100%);

      & > svg {
        fill: #ffffff;
        width: 24px;
        height: 24px;
        transition: 0.3s all;
      }

      & span {
        margin-left: 22px;
        font-size: 18px;
        line-height: 21px;
      }

      & span::before {
        display: none;
      }

      &::after {
        display: none;
      }

      &::before {
        box-shadow: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: inherit;
        background-color: rgba(0, 0, 0, 0);
        transition: 0.3s all;
      }
    }

    &:hover p::before {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
