.button {
  display: block;
  padding: 8px 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: $third-font;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3.92045px;
  transition: 0.3s all;
  position: relative;

  &::before,
  &::after {
    @include pseudo;
    position: absolute;
    bottom: 8px;
    left: 50%;
    height: 22px;
    background-color: #000000;
    border-radius: 4px;
    transform: translateX(-50%);
  }

  &::before {
    width: 73%;
    box-shadow: 0 4px 34px rgba(0, 0, 0, 0.3);
  }

  &::after {
    width: 50.5%;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.27);
  }

  & p {
    position: relative;
    display: block;
    padding: 22px;
    padding-right: 40px;
    text-align: center;
    background-color: #000000;
    border-radius: 3.92045px;
    z-index: 10;

    & span {
      position: relative;
      display: block;
    }

    & span::before {
      @include pseudo;
      position: absolute;
      top: 50%;
      right: -18px;
      width: 18px;
      height: 15px;
      background-image: url("/img/arrow.svg");
      transform: translateY(-50%);
    }
  }

  // button instagram
  &--else {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border-color: transparent;

    &::before,
    &::after {
      display: none;
    }

    &::before {
      @include pseudo;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      background-image: linear-gradient(-90deg, #6e07dd 0%, #feb80c 100%);
      border-radius: 3.92045px;
      transform: none;
      box-shadow: none;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
    }

    & > p {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(267.74deg, #6e07dd 0%, #feb80c 100%);

      & > svg {
        width: 24px;
        height: 24px;
        transition: 0.3s all;
        fill: #ffffff;
      }

      & span {
        margin-left: 22px;
        font-size: 18px;
        line-height: 21px;
      }

      & span::before {
        display: none;
      }

      &::after {
        display: none;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        transform: inherit;
        transition: 0.3s all;
      }
    }

    &:hover p::before {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  //button green
  &--green {

    & p {
      background-color: #66cc27;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  //button price
  &--price {
    text-transform: capitalize;
  }

  //button hover, active
  &:hover {
    font-size: 18px;
    line-height: 23px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.6);

    & svg {
      fill: rgba(255, 255, 255, 0.6);
    }
  }

  &:active > p > span::before {
    opacity: 0.6;
    transition: 0.3s all;
  }
}

