.promo {
  padding: 100px 15px;
  padding-top: 250px;
  background: linear-gradient(90deg, #FED230 0%, #FEC030 100%);
  position: relative;

  &::before {
    @include pseudo;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 328px;
    background-image: url("../img/promo__img.png");
    background-repeat: no-repeat;
    background-position: 0 -100px;
    background-size: cover;
    mix-blend-mode: multiply;
  }
}

.promo__title {
  margin-bottom: 55px;
}

.promo__box {
  position: relative;
  //z-index: 100;
}

.promo__image {
  display: none;
}

.promo__text {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  margin-bottom: 45px;

  & span {
    font-weight: 700;
  }
}

@media (max-width: 374px)  {
  .promo {

    &::before {
      background-position: 0 -37px;
    }
  }
}

@media (min-width: 768px) {
  .promo {
    padding: 200px 100px;

    &::before {
      min-height: 100%;
      background-position: 0 0;
      background-size: contain;
    }
  }
}

@media (min-width: 1024px) {
  .promo {
    padding-top: 313px;
    padding-bottom: 332px;
    padding-right: calc(50% - 480px);
    padding-left: calc(50% - 480px);
    overflow: hidden;

    &::before {
      min-height: 72%;
    }
  }

  .promo__image {
    display: block;
    position: absolute;
    top: -23px;
    right: -122px;
    width: 70%;
  }

  .promo__box {
    max-width: 560px;
    position: relative;
    padding-bottom: 75px;
  }

  .promo__button {
    width: 352px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 1280px) {
  .promo {
    @include page-wrapper;
  }

  .promo__image {
    display: block;
    position: absolute;
    top: -20px;
    right: -122px;
    width: 65%;
  }

  .promo__img {
    object-fit: cover;
  }

  .promo__box {
    max-width: 700px;
  }

  .promo__text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 70px;
  }
}

@media (min-width: 1600px) {
  .promo {
    padding-right: calc(50% - 585px);
    padding-left: calc(50% - 660px);
  }

  .promo__image {
    display: block;
    position: absolute;
    top: -160px;
    right: -122px;
    width: 61%;
  }

  .promo__box {
    max-width: 730px;
  }
}
