.reviews {
  padding: 80px 15px;
  overflow: hidden;
}

.reviews__title {
  text-align: center;
  margin-bottom: 20px;
}

.reviews__box {
  overflow: scroll;
  margin: 0 -15px;
}

.reviews__list {
  @include list-reset;
  display: flex;
  align-items: center;
  width: 596vw;

  padding: 0 15px;
}

.reviews__inner {
  margin-right: 10px;
  padding-bottom: 10px;
}

.reviews__icon {
  width: 41px;
  height: 41px;
}

.reviews__item {
  display: flex;
  align-items: flex-end;

  &:not(:first-child) {
    margin-left: 15px;
  }
}

.reviews__img {
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .reviews {
    padding: 80px 30px;
  }
}

@media (min-width: 1024px) {
  .reviews {
    padding-top: 100px;
    padding-bottom: 80px;
    padding-right: calc(50% - 510px);
    padding-left: calc(50% - 510px);
  }

  .reviews__title {
    margin-bottom: 100px;
  }

  .reviews__list {
    padding: 0;
    width: inherit;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }

  .reviews__item {
    width: 30%;

    &:not(:first-child) {
      margin-left: 0;
    }

    &:first-child {
      margin-top: 65px;
    }

    &:nth-child(3) {
      width: 23%;
      margin-right: 40px;
    }

    &:nth-child(4) {
      margin-top: 100px;
    }

    &:nth-child(6) {
      //position: absolute;
      //left: 50%;
      //transform: translateX(-50%);
      //bottom: -50px;
      order: 2;
      margin: 0 auto;
      margin-top: -70px;
    }
  }

  .reviews__img {
    box-shadow: none;
  }

  .reviews__box {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .reviews {
    padding-right: calc(50% - 660px);
    padding-left: calc(50% - 660px);
  }

  .reviews__item {
    &:nth-child(6) {
      margin-top: -130px;
    }
  }
}
