.include {
  padding: 65px 15px;
  padding-top: 110px;
}

.include__title {
  margin-bottom: 50px;
  text-align: center;
}

.include__desc {
  text-shadow: none;
  background: none;
  -webkit-text-fill-color: #FE8D30;
  margin-bottom: 10px;
}

.include__list {
  @include list-reset;
}

.include__text {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D4D;
}

.include__item {
  &:not(:last-child) {
    margin-bottom: 23px;
  }
}

@media (min-width: 768px) {
  .include {
    padding: 65px 30px;
    padding-top: 110px;
  }

  .include__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -50px -10px;
  }

  .include__item {
    flex-basis: 30%;
    margin: 50px 10px;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: 1024px) {
  .include {
    padding-top: 160px;
    padding-right: calc(50% - 490px);
    padding-left: calc(50% - 490px);
  }

  .include__title {
    margin-bottom: 100px;
  }
}

@media (min-width: 1280px) {
  .include {
    @include page-wrapper;
  }

  .include__item {
    flex-basis: 360px;
  }
}

@media (min-width: 1600px) {
  .include {
    padding-right: calc(50% - 750px);
    padding-left: calc(50% - 750px);
  }
}
