.include {
  padding: 65px 15px;
  padding-top: 110px;
}

.include__title {
  margin-bottom: 50px;
  text-align: center;
}

.include__desc {
  text-shadow: none;
  background: none;
  -webkit-text-fill-color: #FE8D30;
  margin-bottom: 10px;
}

.include__list {
  @include list-reset;
}

.include__text {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D4D;
}

.include__item {
  &:not(:last-child) {
    margin-bottom: 23px;
  }
}

@media (min-width: 768px) {
  .include {
    padding: 65px 30px;
    padding-top: 110px;
  }
}
