.nav {
  padding: 85px 30px;
  padding-bottom: 140px;
  background: linear-gradient(90deg, #fed230 0%, #fec030 100%);

  &::before {
    @include pseudo;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 328px;
    background-image: url("../img/promo__img.png");
    background-repeat: no-repeat;
    background-position: 0 -85px;
    background-size: cover;
    mix-blend-mode: multiply;
  }

  // nav footer
  &--footer {
    padding: 0;
    background-image: none;

    &::before {
      display: none;
    }

    & .nav__item {
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }
}

.nav__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.nav__item {
  &:not(:last-child) {
    margin-bottom: 43px;
  }
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 232px;
  min-width: 232px;
  min-height: 54px;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  transition: 0.3s all;

  &:hover {
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  }

  &:active {
    font-weight: 700;
    box-shadow: 0 0 0 1px rgb(0, 0, 0);
  }
}

@media (min-width: 768px) {
  .nav {

    &::before {
      min-height: 100%;
      background-position: 0 0;
      background-size: contain;
    }
  }
}

@media (min-width: 1024px) {
  .nav {
    background: transparent;
    padding: 0;

    &::before {
      display: none;
    }

    // nav footer
    &--footer {

      & .nav__list {
        margin: -10px -20px;
      }

      & .nav__item {
        margin: 10px 20px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  .nav__list {
    flex-direction: row;
    margin: -10px -10px;
  }

  .nav__item {
    margin: 10px 10px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .nav__link {
    width: inherit;
    min-width: inherit;
    min-height: inherit;
    padding: 5px 10px;
  }
}

@media (min-width: 1280px) {
  .nav__item {
    margin: 10px 18px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .nav__link {
    padding: 15px 20px;
  }
}

@media (min-width: 1600px) {
  .nav__link {
    padding: 17px 39px;
  }
}
