.footer {
  padding: 80px 15px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 187px;
  display: block;
  margin-bottom: 40px;
}

.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.footer__box {
  margin-bottom: 40px;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__privacy {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-decoration-line: underline;
  color: #4D4D4D;
  margin-bottom: 25px;
}

.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #4D4D4D;
}

@media (min-width: 768px) {
  .footer {
    padding: 80px 30px 40px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding-right: calc(50% - 780px);
    padding-left: calc(50% - 780px);
    padding-bottom: 20px;
  }

  .footer__top {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .footer__box {
    max-width: 645px;
    width: 645px;
  }

  .footer__logo {
    margin-bottom: 0;
    width: 281px;
  }
}
