.lesson__heading {
  font-family: $first-font;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 35px;

}

.lesson__list {
  @include list-reset;
  counter-reset: my-sec-counter;
  margin-bottom: 10px;
}

.lesson__item {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D4D;
  padding-left: 28px;

  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ". ";
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #FE8730;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.lesson__text {
  font-family: $first-font;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;

  & > span {
    color: $first-color;
    font-weight: 900;
  }
}

@media (min-width: 768px) {
  .lesson__list {
    margin-bottom: 30px;
  }
}
