.my-social {
  padding: 0 15px;
  padding-bottom: 50px;
  overflow: hidden;
}

.my-social__title {
  margin-bottom: 20px;
}

.my-social__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.my-social__img {
  width: 40vw;
  margin-bottom: 30px;
  object-fit: cover;
}

.my-social__hashtag {
  font-family: $first-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
}

.my-social__followers {
  font-family: $first-font;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;
}

.my-social__scroll {
  overflow-x: scroll;
  margin: 0 -15px;
  margin-bottom: 40px;
}

.my-social__slider {
  @include list-reset;
  display: flex;
  align-items: center;
  width: 275%;
  padding: 0 25px;
}

.my-social__slide {

  &:not(:first-child) {
    margin-left: 15px;
  }
}

.my-social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .my-social {
    padding: 0 30px;
    padding-bottom: 50px;
  }
}
