.my-social {
  padding: 0 15px;
  padding-bottom: 50px;
  overflow: hidden;
}

.my-social__title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  font-family: $first-font;
}

.my-social__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.my-social__img {
  width: 40vw;
  margin-bottom: 30px;
  object-fit: cover;
}

.my-social__hashtag {
  font-family: $first-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
}

.my-social__followers {
  font-family: $first-font;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;
}

.my-social__scroll {
  overflow-x: scroll;
  margin: 0 -15px;
  margin-bottom: 40px;
}

.my-social__slider {
  @include list-reset;
  display: flex;
  align-items: center;
  width: 275%;
  padding: 0 25px;
}

.my-social__slide {

  &:not(:first-child) {
    margin-left: 15px;
  }
}

.my-social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .my-social {
    padding: 0 30px;
    padding-bottom: 50px;
  }

  .my-social__scroll {
    margin: 0 -30px;
  }

  .my-social__slider {
    padding: 0 30px;
  }
}

@media (min-width: 1024px) {
  .my-social {
    padding-right: calc(50% - 490px);
    padding-left: calc(50% - 490px);
    padding-top: 30px;
    padding-bottom: 100px;
  }

  .my-social__img {
    width: 150px;
  }

  .my-social__box {
    margin-bottom: 40px;
  }

  .my-social__scroll {
    margin: 0;
    overflow: inherit;
    margin-bottom: 55px;
  }

  .my-social__slider {
    padding: 0;
    width: inherit;
  }

  .my-social__slide {
    height: 450px;
  }

  .my-social__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .my-social__button {
    width: 352px;
    margin-left: 40px;
  }

  .my-social__text {
    max-width: 600px;
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .my-social {
    @include page-wrapper;
  }

  .my-social__text {
    max-width: 690px;
  }

  .my-social__button {
    margin-left: 80px;
  }

}

@media (min-width: 1600px) {
  .my-social {
    padding-right: calc(50% - 750px);
    padding-left: calc(50% - 750px);
  }
}

@media (min-width: 1920px) {
  .my-social {
    padding-right: calc(50% - 850px);
    padding-left: calc(50% - 850px);
  }
}
