.additional-card {
  position: relative;
}

.additional-card__container {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translateX(-50%);
  z-index: 100;
  height: 60px;
  width: 77.3vw;
  padding-bottom: 19px;
  background-color: $first-color;
}

.additional-card__box {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: 10;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.additional-card__title {
  text-align: center;
  margin-bottom: 20px;
  display: block;
}

.additional-card__heading {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(77, 77, 77, 0.6);

  & > span {
    font-weight: 700;
  }
}

.additional-card__wrap {
  position: relative;
  overflow: hidden;

  //&::before {
  //  @include pseudo;
  //  background-color: #FFFFFF;
  //  border: 4px solid $first-color;
  //  border-radius: 25px;
  //  height: 100px;
  //  width: 73.07vw;
  //  position: absolute;
  //  left: 50%;
  //  top: 0;
  //  transform: translate(-50%, -50%);
  //}
}

.additional-card__wrapper {
  background-color: #FFFFFF;
  border: 4px solid $first-color;
  border-radius: 10px;
  padding: 75px 12px 25px 10px;
}

.additional-card__inner {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.additional-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.additional-card__text {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D4D;
}

@media (min-width: 768px) {
  .additional-card__container {
    width: 60vw;
  }

  .additional-card__wrapper {
    padding: 75px 20px 25px;
  }
}

@media (min-width: 1024px) {
  .additional-card {

    &:nth-child(2)  .additional-card__container {
      width: 40%;
    }
  }

  .additional-card__title {
    margin-bottom: 10px;
  }

  .additional-card__container {
    width: 30%;
  }

  .additional-card__wrapper {
    padding: 90px;
    padding-top: 135px;
    column-count: 2;

    &--column-not {
      column-count: inherit;
    }
  }

  .additional-card__inner {
    page-break-inside: avoid;
    break-inside: avoid;
    break-inside: avoid;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
