.additional-card {
  position: relative;
}

.additional-card__container {
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -45%);
  z-index: 100;
  height: 100px;
  width: 78vw;
  padding-bottom: 19px;
  background-image: linear-gradient(transparent 45%, $first-color 50%);
}

.additional-card__box {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: 10;
  border-radius: 22px;
}

.additional-card__title {
  font-family: $first-font;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  display: block;
}

.additional-card__heading {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(77, 77, 77, 0.6);

  & > span {
    font-weight: 700;
  }
}

.additional-card__wrap {

  position: relative;
  overflow: hidden;

  //&::before {
  //  @include pseudo;
  //  background-color: #FFFFFF;
  //  border: 4px solid $first-color;
  //  border-radius: 25px;
  //  height: 100px;
  //  width: 73.07vw;
  //  position: absolute;
  //  left: 50%;
  //  top: 0;
  //  transform: translate(-50%, -50%);
  //}
}

.additional-card__wrapper {
  background-color: #FFFFFF;
  border: 4px solid $first-color;
  border-radius: 10px;
  padding: 75px 10px 25px;
}

.additional-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.additional-card__text {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D4D;
}
