.programs {
  padding: 80px 15px;
  padding-bottom: 40px;
}

.programs__title {
  text-align: center;
  margin-bottom: 10px;
}

.programs__name {
  text-align: center;
  margin-bottom: 25px;
  padding: 0 15%;
}

.programs__list {
  @include list-reset;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.programs__item {
  min-width: 100%;
  width: 100%;

  &:not(:first-child) {
    display: none;
  }
}

.programs__buttons {
  margin: 0 auto;
}
