.header {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  position: absolute;
  width: 100%;
  z-index: 20;
}

.header__logo {
  width: 187px;
  height: 51px;
}

.header__nav {
  width: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 30;
  transition: 0.3s all;

  &--current {
    visibility: visible;
    opacity: 1;
  }
}

.header__button {
  width: 30px;
  max-width: 30px;
  height: 18px;
  margin-left: auto;
  z-index: 100;
  transition: 0.3s all;
}

@media (min-width: 768px) {
  .header__logo {
    width: 281px;
    height: 76px;
  }

  .header__button {
    width: 50px;
    max-width: 50px;
    height: 28px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 30px;
    padding-right: calc(50% - 480px);
    padding-left: calc(50% - 480px);
    align-items: center;
  }

  .header__nav {
    visibility: visible;
    opacity: 1;
    position: relative;
    width: max-content;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 30px;
    @include page-wrapper;
    align-items: center;
  }
}

@media (min-width: 1600px) {
  .header {
    padding-right: calc(50% - 810px);
    padding-left: calc(50% - 752px);
  }
}
